@model IEnumerable<SmartLMS.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "List of Courses";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>
            @ViewBag.Title
            @Html.ActionLink("Add New Course", "Create", null, new { @class="btn btn-success btn-sm pull-right" })
        </h2>

        <hr />
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                </td>
            </tr>
        }

    </table>
</div>