@model SmartLMS.ViewModels.SeeLectureViewModel
@{
    ViewBag.Title = "Watch Lectures";
    var firstFile = "";
    if (Model.Lectures.Count > 0)
    {
        firstFile = Model.LecturerUserName + "/" + Model.CourseName + "/" + Model.Lectures.FirstOrDefault().FileName;
    }

}
<div class="row top-bottom-padding">

</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-8">
            <div id="watch_lecture">
                @{
                    Html.RenderPartial("_VideoPartial", firstFile);
                }
            </div>
        </div>
        <div class="col-md-4">
            <h3>@Model.CourseName</h3>
            <h4>@Model.LecturerUserName</h4>
            <hr />
            <div id="solTitle" class="list-group">
            @foreach (var item in Model.Lectures)
            {
                var urlpath = Model.LecturerUserName + "/" + Model.CourseName + "/" + item.FileName;
                <a href="#" class="list-group-item" onclick="watchLectureUrl('@item.LectureName', '@urlpath');">
                    @item.LectureName
                </a>
            }
            </div>
        </div>
    </div>    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        //$(document).ready(function(e) {
        //    e.preventDefault();
        //    $("#solTitle a").click(function() {
        //        console.log("Hello -->");
        //    });
        //});


        function watchLectureUrl(file, path) {

            console.log(path);
            $("#watch_lecture").load('@(Url.Action("WatchLecture", "StudentDashboard", null, Request.Url.Scheme))?path=' + path);
        }
    </script>
}
