@model IEnumerable<SmartLMS.Models.Course>

@{
    ViewBag.Title = "List of Courses";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @using (Html.BeginForm("Enroll", "StudentDashboard", new { course = item.CourseId, Area = "" }, FormMethod.Post))
                    {
                        @Html.ActionLink("Details", "Details", "Courses", new { id = item.CourseId, Area = "" }, new { @class = "btn btn-success btn-sm" })

                        @Html.AntiForgeryToken()
                        <input type="submit" value="Register" class="btn btn-warning btn-sm" />
                    }
                </td>
            </tr>
        }

    </table>
</div>