@model SmartLMS.Models.Lecture

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title</h2>
        <hr />
        <h3>Are you sure you want to delete this?</h3>
    </div>
</div>


<div class="row">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
